# Artificial Neural Networks

In [1]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\user\anaconda3\lib\site-packages (2.8.0)
Requirement already satisfied: tensorboard<2.9,>=2.8 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: tf-estimator-nightly==2.8.0.dev2021122109 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (2.8.0.dev2021122109)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (58.0.4)
Requirement already satisfied: gast>=0.2.1 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (0.5.3)
Requirement already satisfied: absl-py>=0.4.0 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (1.0.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (0.24.0)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\user\appdata\roaming\python\python39\site-packages (from tensorflow) (3.19.3)
Requirement already satisfied: h5py>=2.9.0 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (3.2.1)
Requirement already satisfied: libclang>=9.0.1 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (13.0.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (1.43.0)
Requirement already satisfied: flatbuffers>=1.12 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (2.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\user\appdata\roaming\python\python39\site-packages (from tensorflow) (4.0.1)
Requirement already satisfied: numpy>=1.20 in c:\users\user\appdata\roaming\python\python39\site-packages (from tensorflow) (1.22.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: six>=1.12.0 in c:\users\user\appdata\roaming\python\python39\site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\user\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\user\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.37.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\user\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\user\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\user\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.6.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\user\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.3.6)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\user\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.0.2)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\user\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\user\appdata\roaming\python\python39\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.27.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\user\appdata\roaming\python\python39\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (5.0.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\user\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\user\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\user\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\user\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\user\anaconda3\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\user\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\appdata\roaming\python\python39\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.0.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\appdata\roaming\python\python39\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\appdata\roaming\python\python39\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\roaming\python\python39\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.3)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)

In [2]:
import pandas as pd
import os
import tensorflow as tf

In [3]:
os.chdir('E:\SkillEnable Class\Python\Datasets')

In [4]:
churn = pd.read_csv('Churn_Modelling.csv')

In [5]:
churn.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [7]:
churn.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
cat_col = ['Geography', 'Gender']

In [9]:
churn_dummy = pd.get_dummies(churn, columns=cat_col, drop_first = True)

In [10]:
churn_dummy

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
Y = churn_dummy[['Exited']]
X = churn_dummy.drop(columns=['Exited'])

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state = 42)
len(X_train), len(X_test), len(Y_train), len(Y_test)

(8000, 2000, 8000, 2000)

In [14]:
ann = tf.keras.models.Sequential()

In [15]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [16]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [17]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [18]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics='accuracy')

In [20]:
ann.fit(X_train, Y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 897.9859 - accuracy: 0.6572
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 59.0370 - accuracy: 0.6867
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 32.4816 - accuracy: 0.6906
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 32.5371 - accuracy: 0.6839
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 30.2721 - accuracy: 0.6830
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 29.1466 - accuracy: 0.6845
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 22.8284 - accuracy: 0.6786
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 31.4670 - accuracy: 0.6800
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 31.7475 - accuracy: 0.6842
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 34.0441 - accuracy: 0.6854
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 26.8184 - accuracy: 0.6745
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 21.0384 - accuracy: 0.6808
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 27.4976 - accuracy: 0.6804
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 29.8287 - accuracy: 0.6812
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 24.2873 - accuracy: 0.6833
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 22.2177 - accuracy: 0.6758
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 28.8527 - accuracy: 0.6825
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 27.7198 - accuracy: 0.6798
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 22.7790 - accuracy: 0.6935
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 28.3323 - accuracy: 0.6790
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 20.7563 - accuracy: 0.6837
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 16.9348 - accuracy: 0.6921
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 22.5197 - accuracy: 0.6866
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 25.3616 - accuracy: 0.6870
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 22.8629 - accuracy: 0.6802
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 20.9997 - accuracy: 0.6800
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 19.8415 - accuracy: 0.6839
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 20.6791 - accuracy: 0.6850
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 24.2347 - accuracy: 0.6830
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 22.4464 - accuracy: 0.6850
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 28.8457 - accuracy: 0.6810
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 31.4541 - accuracy: 0.6786
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 16.6337 - accuracy: 0.6890
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 23.0810 - accuracy: 0.6859
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 17.3529 - accuracy: 0.6881
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 23.6539 - accuracy: 0.6856
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 19.2659 - accuracy: 0.6824
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 22.0592 - accuracy: 0.6867
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 17.2803 - accuracy: 0.6934
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 21.9648 - accuracy: 0.6841
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 24.5100 - accuracy: 0.6891
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 19.6778 - accuracy: 0.6873
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 17.7791 - accuracy: 0.6825
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 15.5001 - accuracy: 0.6933
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 22.2125 - accuracy: 0.6881
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 22.3110 - accuracy: 0.6927
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 21.7961 - accuracy: 0.6773
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 20.3778 - accuracy: 0.6839
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 18.8835 - accuracy: 0.6869
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 16.3178 - accuracy: 0.6930
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 15.6380 - accuracy: 0.6954
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 19.0742 - accuracy: 0.6896
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 22.4471 - accuracy: 0.6837
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 19.7258 - accuracy: 0.6875
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 19.2208 - accuracy: 0.6926
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 17.1546 - accuracy: 0.6886
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 20.9860 - accuracy: 0.6910
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 20.3828 - accuracy: 0.6844
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 17.8932 - accuracy: 0.6905
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 19.6706 - accuracy: 0.6881
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 20.0773 - accuracy: 0.6867
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 19.3826 - accuracy: 0.6919
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 14.9674 - accuracy: 0.6849
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 23.0651 - accuracy: 0.6858
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 17.1390 - accuracy: 0.6940
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 19.5517 - accuracy: 0.6910
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 20.5750 - accuracy: 0.6865
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 16.0051 - accuracy: 0.6867
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 17.2013 - accuracy: 0.6939
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 18.9113 - accuracy: 0.6900
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 24.0709 - accuracy: 0.6874
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 15.0961 - accuracy: 0.6873
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 15.4803 - accuracy: 0.6885
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 22.7843 - accuracy: 0.6861
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 17.6613 - accuracy: 0.6892
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 12.4671 - accuracy: 0.7024
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 20.4737 - accuracy: 0.6966
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 20.2443 - accuracy: 0.6923
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 16.2641 - accuracy: 0.6941
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 24.3820 - accuracy: 0.6880
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 16.4702 - accuracy: 0.6949
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 23.7513 - accuracy: 0.6869
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 17.2993 - accuracy: 0.6915
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 18.6615 - accuracy: 0.6940
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 18.4358 - accuracy: 0.6933
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 17.4526 - accuracy: 0.6965
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 13.7472 - accuracy: 0.6938
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 13.2654 - accuracy: 0.6979
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 14.5788 - accuracy: 0.7005
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 19.3347 - accuracy: 0.6901
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 17.8820 - accuracy: 0.6892
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 12.7178 - accuracy: 0.6941
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 12.2855 - accuracy: 0.6929
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 13.3388 - accuracy: 0.7021
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 15.8113 - accuracy: 0.6929
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 15.9600 - accuracy: 0.6973
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 15.8736 - accuracy: 0.6981
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 15.9152 - accuracy: 0.6909
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 18.0731 - accuracy: 0.6951
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 12.3143 - accuracy: 0.7000

In [25]:
Y_test['Prediction'] = ann.predict(X_test)

In [26]:
Y_test

      Exited    Prediction
6252       0  2.020998e-09
4684       0  1.928968e-17
1731       0  7.642911e-05
4742       0  1.237407e-08
4521       0  1.671648e-21
...      ...           ...
6412       1  3.814638e-03
8285       0  2.102868e-21
7853       1  6.284118e-04
1095       1  3.935450e-16
6929       1  8.031454e-13

[2000 rows x 2 columns]

In [31]:
val_data = {'CreditScore' : [600],
           'Age': [40],
            'Tenure': [9],
           'Balance': [20000],
           'NumOfProducts': [2],
           'HasCrCard': [0],
           'IsActiveMember': [0],
            'IsActiveMember': [0],
            'EstimatedSalary': [50000],
            'Geography_Germany': [0],
            'Geography_Spain': [0],
            'Gender_male': [0]
           }
val_df = pd.DataFrame(val_data)

In [32]:
val_df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_male
0,600,40,9,20000,2,0,0,50000,0,0,0

In [33]:
val_df['Probability'] = ann.predict(val_df)
val_df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_male,Probability
0,600,40,9,20000,2,0,0,50000,0,0,0,0.00002